:root {
  --violet: #674baf;
  --magenta: hsl(322, 100%, 66%);
  --soft-magenta: hsl(300, 69%, 71%);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.ff-accent {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.ff-accent-semibold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: 600;
}
.ff-body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color: white;
  text-align: center;
  display: flex;
  min-height: 100svh;
  margin: 0;
  padding: 2.5rem 0.5rem 1rem;
  background-color: var(--violet);
  background-image: url("/images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
img {
  display: flex;
}
a {
  color: white;
}
.content-wrapper {
  width: 100%;
  max-width: 304px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.huddle-logo {
  width: 100%;
  max-width: 120px;
  margin-bottom: 4.375rem;
}
.banner {
  width: 100%;
  margin-bottom: 3.75rem;
}
.main-heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 0 auto 1rem;
}
.copy {
  line-height: 1.5rem;
  margin: 0 auto 1.5rem;
}
.button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: grid;
  align-content: center;
  font-size: 0.75rem;
  height: 2.5rem;
  color: var(--violet);
  background: white;
  text-decoration: none;
  border-radius: 4rem;
  box-shadow: rgba(0, 0, 0, 0.27) 1px 3px 5px 0;
  max-width: 200px;
  margin: 0 auto  4rem;
  text-align: center;
  transition: color, background;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button:hover {
  color: white;
  background: var(--soft-magenta);
}
.social-nav {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
footer {
  flex-grow: 1;
  display: flex;
  margin-top: 2rem;
}
.social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  text-indent: -100vw;
  overflow: hidden;
  border: solid thin white;
  border-radius: 100%;
  transition: border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.social-logo svg {
  height: 0.8rem;
  width: auto;
}
.social-logo:hover {
  border-color: var(--soft-magenta);
}
.social-logo:hover path {
  fill: var(--magenta);
  transition: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: auto auto 0;
}
.attribution a {
  color: white;
}
@media (min-width: 80rem) {
  body {
    text-align: revert;
    background-image: url("/images/bg-desktop.svg");
    background-size: cover;
  }
  .content-wrapper {
    max-width: 1280px;
  }
  .huddle-logo {
    max-width: 200px;
    margin-bottom: 104px;
  }
  .main-content {
    display: flex;
    gap: 3.75rem;
    margin-bottom: 2rem;
  }
  .banner {
    max-width: 696px;
    margin-bottom: 0;
  }
  .main-heading {
    font-size: 2.5rem;
    line-height: 3.75rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .copy {
    font-size: 1.125rem;
    line-height: 1.688rem;
    margin-bottom: 2rem;
  }
  .button {
    font-size: 1.125rem;
    height: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.26) 2px 4px 9px 3px;
    margin: 0;
  }
  .social-nav {
    justify-content: end;
  }
  .social-logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .social-logo svg {
    height: 1.125rem;
  }
}
/*# sourceMappingURL=./styles.css.map */